html, body {
    margin: 0;
    background-color: #eeeeee;
}

a {
    color: #2196f3;
}

#main {
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: grey 0 1px 4px -2px;
}

#text-input {
    display: block;
    width: 100%;
    font-size: 1.5em;
    background-color: #f0f0f0;
    border: #959595 1px solid;
    padding: 3px;
}

#submit {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px;
}

#footer {
    text-align: center;
    margin: 10px 0;
}
